<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="xproxy" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="xproxy" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="xproxy" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="xproxy" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>eXProxy</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="lib/bootstrap-3-3-7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css" />
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="lib/tree/abn_tree.css" />
    <link rel="stylesheet" href="node_modules/n3-charts/build/LineChart.css" />

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="lib/jquery-2.1.1.min.js"></script>
    <script src="lib/bootstrap-3-3-7-dist/js/bootstrap.min.js"></script>
    <script src="lib/diff-match-patch/diff_match_patch.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <a href="/">eXProxy</a>
                <small>eXPlore your API</small>
            </h1>

            <div class="row" ng-controller="Search">
                <div class="col-md-offset-4 col-md-4">
                    <div class="input-group">
                        <input ng-model="query.text" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button ng-click="searchGo()" class="btn btn-default" type="button">Find</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav navbar-nav hidden-print">
            <li class="dropdown" data-nav="experts">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Logs <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#!/tree">Tree view</a></li>
                    <li><a href="#!/logs">Table view</a></li>
                </ul>
            </li>
        </ul>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div ng-view></div>
            </div>
        </div>

        <div class="footer">eXProxy app: v1.0 beta</div>
    </div>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="node_modules/d3/d3.min.js"></script>
    <script src="node_modules/n3-charts/build/LineChart.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="compare-view/comparison.js"></script>
    <script src="tree-view/tree-view.js"></script>
    <script src="log-view/log-table.js"></script>
    <script src="components/log-explore/log-explorer.js"></script>
    <script src="components/diff/diff-directive.js"></script>
    <script src="components/search/search.js"></script>
    <script src="lib/tree/abn_tree_directive.js"></script>
</body>
</html>
