<div>
    <h4 class="modal-title">Compare sources</h4>
</div>
<div>
    <h2>Compare {{compareStatus}}</h2>
    <p><strong>Source 1: {{source1.originHost}}{{source1.path}}</strong></p>
    <p><strong>Source 2: {{source2.originHost}}{{source1.path}}</strong></p>
    <h3>Headers</h3>
    <div>
        <table class="table table-striped" ng-show="comparison">
            <tr>
                <th>Key</th>
                <th>Sample Size</th>
                <th>Differences</th>
                <th>Missing</th>
                <th>Score</th>
                <th>Variants</th>
            </tr>
            <tr><th colspan="6">Request headers</th></tr>
            <tr ng-repeat="item in comparison.request">
                <td><span ng-class="item.value.differences == 0 ? 'label-info' : 'label-danger'">{{item.key}}</span></td>
                <td>{{item.value.sampleSize}}</td>
                <td>{{item.value.differences}}</td>
                <td>{{item.value.missing}}</td>
                <td>{{item.value.score}}</td>
                <td>
                    <span ng-if="item.value.values.length != 2" ng-repeat="val in item.value.values">{{val}} </span>
                    <source-diff ng-if="item.value.values.length == 2" id="diff1" text1="item.value.values[0]" text2="item.value.values[1]"></source-diff>
                </td>
            </tr>
            <tr><th colspan="6">Reponse headers</th></tr>
            <tr ng-repeat="item in comparison.response">
                <td><span ng-class="item.value.differences == 0 ? 'label-info' : 'label-danger'">{{item.key}}</span></td>
                <td>{{item.value.sampleSize}}</td>
                <td>{{item.value.differences}}</td>
                <td>{{item.value.missing}}</td>
                <td>{{item.value.score}}</td>
                <td>
                    <span ng-if="item.value.values.length != 2" ng-repeat="val in item.value.values">{{val}} </span>
                    <source-diff ng-sh="item.value.values.length == 2" id="diff1" text1="item.value.values[0]" text2="item.value.values[1]"></source-diff>
                </td>
            </tr>
            <tr><th colspan="6">Reponse body</th></tr>
            <tr ng-repeat="item in comparison.responseBody">
                <td><span ng-class="item.value.differences == 0 ? 'label-info' : 'label-danger'">{{item.key}}</span></td>
                <td>{{item.value.sampleSize}}</td>
                <td>{{item.value.differences}}</td>
                <td>{{item.value.missing}}</td>
                <td>{{item.value.score}}</td>
                <td>
                    <span ng-if="item.value.values.length != 2" ng-repeat="val in item.value.values">{{val}} </span>
                    <source-diff ng-sh="item.value.values.length == 2" id="diff1" text1="item.value.values[0]" text2="item.value.values[1]"></source-diff>
                </td>
            </tr>
        </table>
    </div>
</div>