<div id="compare-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Compare sources</h4>
            </div>
            <div class="modal-body">
                <div ng-show="source1">
                    <h2>Compare {{compareStatus}}</h2>
                    <p><strong>Source 1: {{source1.url}}</strong></p>
                    <p><strong>Source 2: {{source2.url}}</strong></p>
                    <h3>Headers</h3>
                    <div style="overflow-y : scroll; max-height: 300px">
                        <table class="table table-striped" ng-show="comparison">
                            <tr>
                                <th>Key</th>
                                <th>Sample Size</th>
                                <th>Differences</th>
                                <th>Missing</th>
                                <th>Score</th>
                                <th>Variants</th>
                            </tr>
                            <tr><th colspan="6">Request headers</th></tr>
                            <tr ng-repeat="item in comparison.request">
                                <td><span ng-class="item.value.differences == 0 ? 'label-info' : 'label-danger'">{{item.key}}</span></td>
                                <td>{{item.value.sampleSize}}</td>
                                <td>{{item.value.differences}}</td>
                                <td>{{item.value.missing}}</td>
                                <td>{{item.value.score}}</td>
                                <td>
                                    <span ng-if="item.value.values.length != 2" ng-repeat="val in item.value.values">{{val}} </span>
                                    <source-diff ng-if="item.value.values.length == 2" id="diff1" text1="item.value.values[0]" text2="item.value.values[1]"></source-diff>
                                </td>
                            </tr>
                            <tr><th colspan="6">Reponse headers</th></tr>
                            <tr ng-repeat="item in comparison.response">
                                <td><span ng-class="item.value.differences == 0 ? 'label-info' : 'label-danger'">{{item.key}}</span></td>
                                <td>{{item.value.sampleSize}}</td>
                                <td>{{item.value.differences}}</td>
                                <td>{{item.value.missing}}</td>
                                <td>{{item.value.score}}</td>
                                <td>
                                    <span ng-if="item.value.values.length != 2" ng-repeat="val in item.value.values">{{val}} </span>
                                    <source-diff ng-sh="item.value.values.length == 2" id="diff1" text1="item.value.values[0]" text2="item.value.values[1]"></source-diff>
                                </td>
                            </tr>
                        </table>

                        <h3>Raw source comparison</h3>
                        <source-diff id="diff1" text1="source1.content" text2="source2.content"></source-diff>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeCompare()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<h2>Showing {{logs.items.length}} records out of {{logs.totalSize / 1024 | number: 2}}Kb of data</h2>

<div style="height: 200px;">
    <linechart ng-show="chart.visible" data="chart.data" options="chart.options"></linechart>
    <div class="clearfix"></div>
    <!-- Split button -->
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-click="chart.visible = !chart.visible">
            {{chart.visible ? "Hide histogram" : "Show histogram"}}
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a ng-click="loadHistogram(5000)">5 Seconds</a></li>
            <li><a ng-click="loadHistogram(30000)">30 Seconds</a></li>
            <li><a ng-click="loadHistogram(60000)">1 Minute</a></li>
            <li><a ng-click="loadHistogram(300000)">5 Minutes</a></li>
        </ul>
    </div>
</div>

<br/>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Elapsed</th>
            <th>Status</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in logs.items">
            <td>{{item.date | date: 'dd-MMM-yy hh:mm:ss'}}</td>
            <td>{{item.elapsed}}</td>
            <td>{{item.status}}</td>
            <td><a href="" ng-click="loadSource(item)">{{item.originUrl}}</a></td>
        </tr>
    </tbody>
</table>