<h1>{{loading}}</h1>

<div ng-if="tree.length > 0">
    <div class="row">
        <div class="col-md-6">
            <abn-tree tree-data="tree" on-select="treeSelect(branch)">
            </abn-tree>
        </div>

        <div class="col-md-6" ng-show="currentNode">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><a href="#!/logs/{{getPathRouteQuery(currentNode)}}">{{currentNode.label}}</a></h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Methods</th>
                            <td>
                                <ul><li ng-repeat="verb in currentNode.data.verbs">{{verb}}</li></ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Statuses</th>
                            <td>
                                <ul><li ng-repeat="status in currentNode.data.statuses">{{status}}</li></ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Hosts</th>
                            <td>
                                <ul><li ng-repeat="host in currentNode.data.hosts">{{host}}</li></ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Requests</th>
                            <td>{{currentNode.data.requestCount}}</td>
                        </tr>
                        <tr>
                            <th>Average response length</th>
                            <td>{{currentNode.data.averageSizeKb}}</td>
                        </tr>
                        <tr>
                            <th>Response times</th>
                            <td>{{currentNode.data.minElapsed}} - {{currentNode.data.maxElapsed}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>